proposal/proposal.aux
proposal/proposal.bbl
proposal/proposal.blg
proposal/proposal.fdb_latexmk
proposal/proposal.fls
proposal/proposal.log
proposal/proposal.synctex.gz
proposal/proposal.aux
proposal/proposal.bbl
proposal/proposal.blg
proposal/proposal.log
